<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= category %></title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<header>
    <%= category %> movies
</header>
<body>
    <ul>
    <% movies.map((movie) => { %>
        <li>
        <a href="/movie/<%= movie.id %>"><%=movie.movie_title%></a>
        </li>
    <% }); %>
    </ul>
    <a href="/">Back to Home Page</a>
    <a href="/viewAllCategories">View All Movie Categories</a>
    <a href="/viewAllMovies">View All Movies</a>
</body>
</html>