<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<header>
    <%= title %>
</header>
<body>
    <a href="/viewAllCategories">View All Movie Categories</a>
    <a href="/viewAllMovies">View All Movies</a>
</body>
</html>