<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<header>
    <%= title %>
</header>
<body>
    <ul>
    <% categories.map((category) => { %>
        <li>
        <a href="/category/<%= category.id %>"><%=category.category_type%></a>
        </li>
    <% }); %>
    </ul>
    <a href="/getMovieForm">Add Movie to Library</a>
    <a href="/addCategoryForm">Add Movie Category</a>
    <a href="/viewAllCategories">View/Edit Movie Categories</a>
    <a href="/viewAllMovies">View All Movies</a>
</body>
</html>